# Tumblr app and OAuth credentials:
# https://www.tumblr.com/oauth/apps
#
# Use credentials for an account that can access the target private blog.
API_KEY="consumer_key"
API_SECRET="consumer_secret"
OAUTH_TOKEN="access_token"
OAUTH_TOKEN_SECRET="access_token_secret"
BLOG_NAME="example.tumblr.com"
